<h1>商品編集</h1>

<%= form_with model: @item, url: admin_item_path(@item), method: :patch, local: true do |f| %>
   <div class="row mb-3">
    <%= f.label :image, "商品画像", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.file_field :image, accept: "image/*", class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <%= f.label :name, "商品名", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control"%>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :introduction, "商品説明", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :introduction, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :genre_id, "ジャンル", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :genre_id, @genres, :id, :name, class: "form-select" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :price_excluding_tax, "税抜価格", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= f.text_field :price_excluding_tax, class: "form-control" %>
        <span class="input-group-text">円</span>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :is_sale, "販売ステータス", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_sale, true, id: "is_sale_true", class: "form-check-input" %>
        <%= label :is_sale_true, "販売中", class: "form-check-label" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_sale, false, id: "is_sale_false", class: "form-check-input" %>
        <%= label :is_sale_false, "販売停止中", class: "form-check-label" %>
      </div>
    </div>
  </div>

    <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <%= f.submit "変更を保存", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

