<h1>ショッピングカート</h1>

<% if @cart_items.nil? || @cart_items.empty? %>
  <p>カートに商品がありません。</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>数量</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <% item = Item.find(cart_item[:item_id]) %>
        <tr>
          <td><%= item.name %></td>
          <td>
            <%= form_with url: public_cart_item_path(cart_item.item_id), method: :patch do |f| %>
              <%= f.number_field :amount, value: cart_item.amount, min: 1 %>
              <%= f.submit "更新" %>
            <% end %>
          </td>
          <td>
            <%= link_to "削除", public_cart_item_path(cart_item.item_id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "カートを空にする", destroy_all_public_cart_items_path, method: :delete, data: { confirm: "本当にカートを空にしますか？" } %>
<% end %>